doctype html
title Notes 
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
link(rel='stylesheet', type='text/css', href='style.css')
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
div(class='header')
  a(style='color: white')
    i(class='fa fa-sticky-note-o')  Notes

each note in notes
  a(class='clickablebox', class='link', data-toggle='modal', data-target='#infoModal'+note.id) #{note.title}
  div(class='modal fade', id='infoModal'+note.id, tabindex='-1', role='dialog', aria-labelledby='infoModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document', id=note.id)
      .modal-content
        .modal-header
          h5#infoModalTitle.modal-title #{note.title}
          button.close(type='button' data-dismiss='modal' aria-label='Close') 
            i(class='fa fa-times')     
        .modal-body
          | #{note.content}
        .modal-footer
          button.btn.btn-danger(type='button', onclick='DeleteNote()', data-dismiss='modal') Delete
          script.
              function DeleteNote() {
                const request = new XMLHttpRequest();
                request.open('DELETE', '/notes/', true);
                request.setRequestHeader('id', '#{note.id}');
                request.send();
                window.location.reload();
              }

        //Credit: httpis://getbootstrap.com/docs/4.0/components/modal/

i(class='fa fa-plus-circle fa-lg',  style='margin-left: 155px; margin-top: 20px; font-size: 50px;', data-toggle='modal' data-target='#NotesModal')
#NotesModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='NotesModalLabal' aria-hidden='true')
  form(id='NotesForm', action='/notes', method='POST')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#NotesModalLabal.modal-title New Note
          button.close(type='button' data-dismiss='modal' aria-label='Close') 
            i(class='fa fa-times')
        .modal-body
          .md-form
            input#title.form-control(type='text', name='title', placeholder='Title', maxlength='24',required)
            textarea#form8.md-textarea.form-control(type='text', style='margin-top: 5%;', rows='4', placeholder='Content', name='content', required)
        .modal-footer
          button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit') Save
